*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 1em auto;
    font-size: 1.75rem;
    
}
main{
    max-width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}
#parte1{
    width: 50%;
    margin: 20px;
    padding-right: 30px;
}
#parte2{
    width: 30%;
    
    text-align: justify;

}
#parte2>h3{
    text-align: center;
}
#parte2>img{
    padding-left: 28%;
}

section.info{
    margin-left: .05em;
    display: flex;
    
}
.info>section{
    margin: 10px;
}
.info_header{
    text-align: center;
    width: 100%;

}
.info>

header>h1{
    font-size: 5rem;
}
header {
    display: flex;
    align-items: center;
    gap:1em;
   /* border: 2px solid purple;*/
    
}
header h1{
    font-size: 5rem;

}

footer{
    
    text-align: center;
    font-size: 1.75rem;
    width: 90vw;
    height: 10vh;
    padding-top: 50px;
}